<div id="flash-message" class="flash-message">
    {{#if messages.error}}
    <div class="danger">{{message.error}}</div>
    {{else}}
    <div class="success">{{message.success}}</div>
    {{/if}}
</div>