<div class="container">
    <di class="container-profile">
        <p class="landlord-name">{{name}}</p>
        <p class="landlord-rating">{{rating}}</p>
    </di>
    <a href="/profilepage">
        <img class="landlord-img"
            src={{img}}></a>
</div>