<a href="/listings/{{id}}" class="post-anchor">
    <div class="listing-container" id="listing-card{{id}}">
        <img class="listing-img" src="../images/picture_1666042712023.jpeg">
        <di class="listing-container-profile">
            <div class="listing-card-profile-section">
                <img class="listing-card-profile-img"
                    src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" />
            </div>
            <div class="listing-container-profile-text">
                <p class="listing-card-price">{{price}}</p>
                <p class="listing-card-city"><b>{{city}}</b></p>
            </div>
        </di>
    </div>
</a>