<div class="review" id="top-review">
    <div class="author">
        {{author}}
    </div>
    <div class="review-title-line">
        <div class="review-title">
            {{title}}
        </div>
        {{> rating rating}}
    </div>
    <div class="description">
        {{description}}
    </div>
</div>