<div class="about-links">
    <a class="about-buttons" href="/devAbout">Devon Dy-Liacco</a>
    <a class="about-buttons" href="/issaAbout">Issa Shihadeh</a>
    <a class="about-buttons" href="/youssefAbout">Youssef Hammoud</a>
    <a class="about-buttons" href="/tungAbout">Tung Nguyen</a>
    <a class="about-buttons" href="/praiseAbout">Praise Eubany</a>
    <a class="about-buttons" href="/ricardoAbout">Ricardo Lopez</a>
</div>