<div class="profile-page-review">
    <div class="renter-review-name">
        {{renter}}
    </div>
    <div class="review-rating">
        {{> rating rating}}
    </div>
    <h2 class="review-title">{{title}}</h2>
    <p class="review-desc">
        {{description}}
    </p>
</div>