<h1>About Devon Dy-Liacco:</h1>
<div class="about_wrapper">
    <img class="devonimg" src="images/8B59C7CB-5854-4F03-A0F9-E2C9ED624973.JPG">
    <p class="paragraph">
        Hello, my name is Devon Dy-Liacco. I am a 5th year computer science major
        at SFSU who is set to graduate Spring 2023. I'm a bay area native. I enjoy
        dancing, playing puzzle games, and going to the gym.
    </p>
</div>