<h1>About Praise Eubany:</h1>
<div class="about_wrapper">
    <img class="praiseimg" src="images\SNAP_20220826-232405.jpg">
    <p class="paragraph" id="praise-p">
        Hello,  My name is Praise O.Eubany. I am a Fifth year student at SFSU. I'm majoring in Computer Science, 
        minoring in Mathematics. Still debating on whether to pursue Product Management or Data Science as my career. 
        My knowledge of Product Management was nonexistent, until I enrolled to this class. After hearing the professor 
        speak on the responsibilities of product management, that is when my interest peaked, and now leaning more 
        towards this field. Depending on the knowledge I gain from taking this course, it will ulitmately effect my 
        decision on which Master's degree I would be pursuing. My first objective would be to pass this class, and 
        graduate, while making as many connections as I can along the way.
    </p>
</div>