<h1>About Issa Shihadeh:</h1>
<div class="about_wrapper">
    <img class="issaimg" src="images/me.jpg">
    <p class="paragraph">
        Hello, I am Issa Shihadeh. I am 22 years old, 5th year computer science student. My hobbies are 
        swimming, and working out. my faviorate quote is; "The purpose of our lives is to be happy." — Dalai Lama
    </p>
</div>