<h1>About Tung Nguyen:</h1>
<div class="about_wrapper">
    <img class="tungimg" src="images/30261519_125556454960860_3492263433368240128_n.jpeg">
    <p class="paragraph">
        Hello,  My name is Tung Nguyen. I'm currently a senior and will be graduating in the Spring of 2023. 
        I'm pursuing a Bachelor's degree in Computer Science, and I am looking for an internship opportunity. 
        Along with the knowledge that I have gained at CCSF and SFSU, I plan on gaining a more in depht 
        experience with the field I am studying, in order to successfully contribute in my field of work in the future.   
    </p>
</div>