<h1>About Youssef Hammoud:</h1>
<div class="about_wrapper">
    <img class="youssefimg" src="images/IMG_4126.jpeg">
    <p class="paragraph">
        Hello, my name is Youssef Hammoud. I am a student at SFSU who is set to 
        graduate in the Fall 2022 with a computer science degree. I was born in Lebanon, but 
        I grew up in the Bay Area. In my free time, I love playing soccer, and video games. 
        Although secretly, I enjoy painting a beautiful nature scenery.
    </p>
</div>