<div class="review">
    <div class="profile-page-reviews">
        <div class="profile-page-review">
            <div class="renter-review-name">
                {{authorName}}
            </div>
            <div class="review-rating">
                {{> rating rating}}
            </div>
            <h2 class="review-title">{{title}}</h2>
            <div class="review-desc">
                {{description}}
            </div>
        </div>
    </div>
</div>