<script src="/homepage.js"></script>

<h1>
    Search Filters
</h1>

<div class="filters">
    <select class="select">
    <option disabled selected>Price</option>
    <option value="< $1000">< $1000</option>
    <option value="< $2000">< $2000</option>
    <option value="< $3000">< $3000</option>
    <option value="< $4000">< $4000</option>
    <option value="< $5000">< $5000</option>
    <option value="> $5000">> $5000</option>
</select>

<select class="select">
    <option disabled selected>Rating</option>
    <option value="> 2">> 2</option>
    <option value="> 3">> 3</option>
    <option value="> 4">> 4</option>
    <option value="5">5</option>
</select>

<select class="select">
    <option disabled selected>Beds</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="> 4">> 4</option>
</select>

<select class="select">
    <option disabled selected>Baths</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="> 4">> 4</option>
</select>
</div>