<div id="main-content">
    <div class="search-form">
        <p class="search-section-sentence">Search. Find. Contact. Rate.</p>
        <p class="search-section-sentence">Avoid bad landlord experiences.</p>
        <select id="search-select" class="search-select">
            <option disabled selected>Category</option>
            <option id="landlord-option" value="Landlords">Landlords</option>
            <option id="listing-option" value="Listings">Listings</option>
        </select>
        <form>
            <input id="search-text" name="search-text" type="search" placeholder="Search">
            <input type="button" value="search" id="search-button" />
        </form>
    </div>
    <div class="home-reviews-section">
        <h1 class="search-section-sentence">Top 3 Landlords</h1>
        {{> cards}}
    </div>
</div>

<script src="/public/js/homepage.js"></script>