<h1>About Ricardo Lopez:</h1>
<div class="about_wrapper">
    <img class="ricardoimg" src="images/IMG_3338.jpg">
    <p class="paragraph">
        Hello, my name is Ricardo Lopez, and I am a Computer Science major at SFSU.
        I was born in the Bay Area, and I love to go to the gym, watch soccer, and 
        play videogames. My favorite soccer team is Manchester United, and my 
        favorite video game is Valorant.
    </p>
</div>