<div class="bad-review">
    <div class="bad-review-author">
        <img class="bad-review-profile"
            src="https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"></img>
        <p>{{author}}</p>
    </div>
    <div class="description" id="bad-review-description">
        <div class="bad-review-text-box">
            <div class="review-title-line">
                <div class="review-title" id="bad-review-title">
                    {{title}}
                </div>
                <div class="bad-review-rating">
                    {{> rating rating}}
                </div>
            </div>
            <p>{{description}}</p>
        </div>
        <div class="bad-review-pictures">
            <img class="bad-review-picture" src="images/picture_1666042712023.jpeg"></img>
            <img class="bad-review-picture" src="images/picture_1666042712023.jpeg"></img>
        </div>
    </div>
</div>