<div class="top-landlords">

<div class="container">
    <di class="container-profile">
        <p class="landlord-name">Sarah Therrien</p>
        <p class="landlord-rating">9.9</p>
    </di>
    <a href="#">
    <img class="landlord-img"
        src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"></a>
</div>

<div class="container">
    <di class="container-profile">
        <p class="landlord-name">George Stew</p>
        <p class="landlord-rating">9.6</p>
    </di>
    <a href="#">
    <img class="landlord-img"
        src="https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"></a>
</div>

<div class="container">
    <di class="container-profile">
        <p class="landlord-name">Nick James</p>
        <p class="landlord-rating">9.4</p>
    </di>
    <a href="#">
    <img class="landlord-img"
        src="https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1023&q=80"></a>
</div>

</div>