<div class="review">
    <div class="profile-page-reviews">
        <div class="profile-page-review">
            {{author}}
            {{> rating rating}}
            <p>
                {{description}}
            </p>
        </div>
    </div>
</div>