:root {
    --white: #f0f0f0;
    --light-grey: #ebebeb;
    --white-green: #e3fff0;
    --green-white: #80b494;
    --green: #3c885b;
    --green-2: #247464;
    --black: #031424;
    --gold: #d1ac0a;
    --background-light-mode: #f0f0f0;
    --background-dark-mode: #031424;
    --text-light-mode: #031424;
    --text-light-mode-1: #247464;
    --text-dark-mode: #f0f0f0;
    --text-dark-mode-1: #80b494;
    --text-dark-mode-2: #e3fff0;
    --border-light-mode: #247464;
    --border-dark-mode: #80b494;
    --border-light-mode-1: #3c885b;
    --border-dark-mode-1: #247464;
    --button-background: #f0f0f0;
    --button-background-1: #3c885b;
    --button-background-2: #031424;
    --button-background-3: #247464;
}

.listing-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 20px;
    border-top: solid black;
}

/* .listing-info-left {
    justify-content: space-between;
} */

.address {
    font-size: 25px;
    font-weight: 600;
    /* font-style: oblique; */
    font-family: inherit;
    margin-bottom: 5px;
    padding: 0;
}

.basic-price {
    /* position: absolute; */
    /* left: 55vw; */
    font-size: 25px;
    font-weight: 500;
    /* font-style: oblique; */
    font-family: inherit;
    color: #295b3d;
    margin-bottom: 5px;
}

.basic-bed {
    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
}

.over-rating {
    margin-top: 10px;
    margin-bottom: 15px;
}

.desc {
    font-family: inherit;
    border: dashed black;
    width: fit-content;
    padding: 10px;
    border-width: 3px;
}

.description {
    font-size: 20px;
    font-weight: 300px;
    margin-bottom: 5px;
}

.listing-image {
    display: block;
    margin-top: 100px;
    width: fit-content;
    max-width: 85vw;
    height: fit-content;
    max-height: 65vh;
    object-fit: contain;
    border-radius: 5px;
    border: 3px solid black;

}

.landlord-info {
    border-style: dashed;
    border-color: var(--border-light-mode);
    border-width: 3px;
    height: fit-content;
    width: 28rem;
    padding: 5px;
    margin-bottom: 3vh;
    /* position: relative; */
    /* left: 6%; */
    /* bottom: 16vh; */
}

.landlord-profile {
    display: flex;
    flex-direction: row;
}

.landlord-text .star {
    width: 20px;
    height: 20px;
}

.landlord-rating-stars {
    margin-left: 10px;
    margin-top: 10px;
}

.landlord-bio {
    margin: 10px 0;
    font-family: inherit;
}

.landlord-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.landlord-info:hover {
    cursor: pointer;
}

.reviews-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 4px solid #295b3d;
    border-radius: 20px;
    margin: 2rem 5rem;
    padding: 10px;
}

.listing-profile-phone {
    font-family: inherit;
    margin-bottom: 10px;
}

.landlord-name {
    font-family: inherit;
    font-size: 20px;
    margin-left: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 580px;
    height: 479px;
    border: none;
}

.review-header {
    font-family: inherit;
    font-size: inherit;
    color: black;
    margin-top: 10px;
}

.form-container textarea {
    resize: none;
}

.form-container textarea:focus {
    outline: none;
}

.form-container .post {
    background-color: #3C885B;
    color: white;
    font-family: inherit;
    font-size: inherit;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-bottom: 10px;
}

.form-container .post:hover {
    background-color: #295b3d;
}

.profile-page-box-header {
    font-family: inherit;
}

.review-form {
    display: flex;
    flex-direction: column;
    width: initial;
    padding: 2rem;
    background-color: #fafafa;
    border: 1px solid #3C885B;
    border-radius: 5px;
}

.review-header {
    font-family: inherit;
    font-style: normal;
    font-size: 20px;
}

.review-rating-container,
.review-title-container,
.review-desc-container {
    margin-bottom: 1rem;
}

.review-rating-container label,
.review-title-container label,
.review-desc-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #333;
    font-family: inherit;
}

.review-desc {
    margin: 10px 15px;
    font-family: inherit;
    font-style: normal;
}

.review-title {
    margin: 10px 15px;
    font-family: inherit;
    font-style: normal;
}

.renter-review-name {
    font-family: inherit;
    font-size: 20px;
    font-weight: 300px;
    margin: 10px 15px;
}

.post-review-title {
    width: 95%;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
    padding: 0.5rem;
}

.post-review-desc {
    width: 95%;
    height: 6rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
}

.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 2px 5px 5px black;
    /* border: solid black; */
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}